<p>This is a wishlist service for the Playstation Store. It works by sending you e-mails about your wishlist when the games are on sale.</p>

<p>This service is NOT affiliated to Sony in any way and is provided as-is.</p>

<p>The prices are refreshed once a day, so there may be discrepancies between the prices shown here and on the Playstation Store.</p>

<p><a asp-controller="Home" asp-action="Privacy">Privacy policy</a></p>