
@{
    ViewData["Title"] = "Home Page";
}

<script>
    $("#navButtonSearch").addClass("active");
</script>

<div class="text-center">
    <h1 class="display-4 d-none d-md-block">Welcome to Playstation Wishlist</h1>

    @await Component.InvokeAsync("GamesList")
</div>
