<link rel="stylesheet" href="~/css/Views/Donation/Thanks.min.css" />
<div id="btnThankyou">
    <div>
        Thanks!
    </div>
</div>
<p id="p1">you're awesome!</p>
<p id="p2">seriously</p>
<p id="p3">thank you for your support</p>
<script src="~/js/Views/Donation/thanks.js"></script>