<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="bin\Debug\netcoreapp3.1\PlaystationWishlistWebSite.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="GOOGLE_CLIENT_ID" value="1049203261166-0s075vpmpgmmsfdihll626gdc9mcis1g.apps.googleusercontent.com" />
          <environmentVariable name="MICROSOFT_CLIENT_ID" value="d31ef3f1-e594-4d18-a058-fb7055e99604" />
          <environmentVariable name="GOOGLE_CLIENT_SECRET" value="OKZhHTbgpngts6YcKfj3oel7" />
          <environmentVariable name="MICROSOFT_CLIENT_SECRET" value="Bjmrb7KcLE_.UzQ-4kKuy4Y61UYO5EXJ-4" />
          <environmentVariable name="FACEBOOK_CLIENT_ID" value="185313306577502" />
          <environmentVariable name="FACEBOOK_CLIENT_SECRET" value="d2afa8e9ec41a4a8e893c637f06a16f3" />
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="PLAYSTATION_WISHLIST_API" value="https://playstationwishlistapi.azurewebsites.net" />
          <environmentVariable name="ASPNETCORE_HOSTINGSTARTUPASSEMBLIES" value="Microsoft.AspNetCore.Mvc.Razor.RuntimeCompilation" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>